<div class="card">
    <header class="card-header" >
        <div>
            <img alt="" src="../assets/image/logo_uvs.png">
        </div>
        <div class="CI">
            <button class="btn btn-success mr-1">Connexion</button>
            <button class="btn btn-success">inscription</button>
        </div>
    </header>  
    <body class="card-body">
        <section>
            <div>
                <form action="">
                    <div class="mb-3">
                        <label for="Name">Nom</label><br>
                        <input type="text" class="form-control" placeholder="Nom">
                    </div>
                    <div class="mb-3">
                        <label for="Firt-Name">Prenom</label><br>
                        <input type="text" class="form-control" placeholder="Prenom" >
                    </div>
                    <div class="mb-3">
                        <label for="Email">Email</label><br>
                        <input type="Email" class="form-control" placeholder="Email">
                    </div>
                    <div class="mb-3">
                        <label for="Password">Mot de passe</label><br>
                        <input type="Password" class="form-control" placeholder="Mdp">
                    </div>
                    <div class="mb-3">
                        <label for="C-Password">Confirmer mot de passe</label><br>
                        <input type="Password" class="form-control" placeholder="Mdp">
                    </div>
                    <div>
                        <button type="submit" class="btn btn-success form-control">S'incrire</button>
                    </div>      
                </form>
            </div>
            <div>
                <img src="../assets/image/logo_uvs.png" alt="">
            </div>
        </section>
    </body>
</div>
