<div class="card">
    <header class="card-header" >
        <div>
            <img alt="" src="../assets/image/logo_uvs.png">
        </div>
        <div class="CI">
            <button class="btn btn-success mr-1" (click)="chooseConnection()" id="CI">Connexion</button>
            <button class="btn btn-success" (click)="chooseInscription()">inscription</button>
        </div>
    </header>  
    <body class="card-body">
        <section>
            <div>
                <h1>Bienvenue sur la plateforme de Gestion de Recrutement des Tuteurs</h1>
                <div>
                    <p>APPEL A CANDIDATURE EN COURS</p>
                    <div class="Sec2">
                        <div class="IMG">
                            <img alt="" src="../assets/image/logo_uvs.png" id="img">
                            <a href="">IA</a>
                        </div>
                        <div class="IMG">
                            <img alt="" src="../assets/image/logo_uvs.png" id="img">
                            <a href="">Réseau</a>
                        </div>
                        <div class="IMG">
                            <img alt="" src="../assets/image/logo_uvs.png" id="img">
                            <a href="">Programmation</a>
                        </div>
                    </div>
                </div>        
            </div>
            <div>
                <img alt="" src="../assets/image/logo_uvs.png">
            </div>
        </section>
    </body>
    <footer class="card-footer">
        <p>Ministère de l'Enseignement Supérieur, de la Recherche et de l'Innovation (MESRI)</p>
        <p>Université Numérique Cheikh Hamidou KANE (UN-CHK)</p>
        <p>© MIL-P7-G5 - 2020 - Tous droits réservés</p>
    </footer>
</div>
