.nav {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Alignement */
    height: 70px;
    width: 100%;
    padding: 0 20px; /* Ajoute de l'espace sur les côtés */
}

.logo-container {
    display: flex;
    align-items: center;
    margin-right: 2%;
}

.logo-container img {
    height: 50px; /* Augmente la taille du logo */
    width: auto;
    
}

.nav-links {
    display: flex;
    gap: 40px; /* Espacement entre les liens */
    color: #0477BF  ;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.nav-link{
    border-radius: 30px;
}

.logout-container {
    display: flex;
    align-items: center;
    margin-left: auto; /*bouton est bien aligné */
}

.deconnexion {
    height: 40px; /* Ajuste la hauteur du bouton */
    display: flex;
    align-items: center;
    padding: 5px 15px;
}
.active-title {
    border-bottom: 3px solid #df8020; /* Bordure bleue plus visible */
    font-weight: bold;
    transition: border-bottom 0.3s ease-in-out;
}
/* Effet au survol */
.btn:hover {
    background: linear-gradient(135deg, #048ABF, #D9731A);
    transform: scale(1.05); /* Légère animation de zoom */
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
}
  