
header img{
    margin-left: 10px;
    height: 30px;
    width: 30px;
    margin-top: 15px;
  }
.nav-link {
    border-radius: 30px;
    margin-left: 60px;
    margin-right: 60px;
    height: 40px;
    text-align: center;
    margin-top: 15px;
}
header{
    margin-top: auto;
    height: max-content;
}
.deconnexion{
    margin-top: 15px;
    max-height: fit-content;
    max-width: fit-content;
}
.nav{
    height: 70px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-right: 20px;
  }
.active-title {
    border-bottom: 3px solid #df8020; /* Bordure bleue plus visible */
    font-weight: bold;
    transition: border-bottom 0.3s ease-in-out;
}
  