<header>
    <div>
        <nav class="nav nav-pills nav-fill">
        <a class="navbar-brand " href="#">
            <img src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24">
        </a>
        <a class="nav-link" [routerLink]="'/gestion-annonces'">Gérer les annonces</a>
        <a class="nav-link" [routerLink]="'/liste-candidats'">Liste des candidats</a>
        <a class="nav-link" [routerLink]="'/gestion-dossiers'">Gestion des dossiers</a>
        <a class="nav-link " [routerLink]="'/ajout-annee'" tabindex="-1" > Gestion des Années Académiques</a>
        </nav> 
    </div>
</header>
