<form (ngSubmit)="onSubmit()">
  <h1>Entrez votre email pour reinitialiser votre mot de passe:</h1>
  <div class="compte">
    <div class="input">
      <div class="input-group">
        <label for="Email">Email :</label>
        <input type="email" id="Email" name="userEmail" [(ngModel)]="userEmail" required>
      </div>
    </div>
    <div class="photo">
      <img alt="" src="../assets/image/profil.png">
    </div>
  </div>
  <button type="submit" class="btn btn-success">Changer le Mot de passe</button><br>
  <a href="/candidat/compte" class="btn btn-danger">Annuler</a>
</form>
  
  