<div class="container ">
    <div class="form-container mt-5">
        <form [formGroup]="formGroup" (ngSubmit)="ajouterAnnee()">
            <label for="annee">Année académique</label>
            <div class="input-group">
                <input 
                    type="text" 
                    id="annee"
                    formControlName="annee" 
                    placeholder="Exemple : 2024-2025"
                />
                <span class="calendar-icon">📅</span>
            </div>
            <button type="submit" [disabled]="formGroup.invalid" class="ajout">Ajouter</button>
        </form>
    </div>
    
    
    <div class="annees-list">
        <div class="annee-item" *ngFor="let annee of annees">
            <span>Année académique</span>
            <strong>{{ annee.annee }}</strong>
            <button class="delete-btn btn" (click)="supprimerAnnee(annee.annee)">❌</button>
        </div>
    </div>
</div>
