<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>
<div class="container mt-5 pt-5">
    <div class="form-container mt-5">
        <form [formGroup]="formGroup" (ngSubmit)="ajouterAnnee()">
            <label for="annee">Année académique</label>
            <div class="input-group">
                <input 
                    type="text" 
                    id="annee"
                    formControlName="annee" 
                    placeholder="Exemple : 2024-2025"
                />
                <span class="calendar-icon">📅</span>
            </div>
            <button type="submit" [disabled]="formGroup.invalid">Ajouter</button>
        </form>
    </div>
    
    
    <div class="annees-list">
        <div class="annee-item" *ngFor="let annee of annees">
            <span>Année académique</span>
            <strong>{{ annee.annee }}</strong>
            <button class="delete-btn" (click)="supprimerAnnee(annee.id)">❌</button>
        </div>
    </div>
</div>
