header{
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
header img{
    height:30%;
    width:30px ;
    margin-left: 10px;
}
form{
margin: 10% 30%;

}
body{
    background-image: url('/assets/image/.png');
}