*{
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.card-header{
  background-color: #faf8f8;
  border-bottom:solid 1px #010101;
  top: 0;
}
.navbar{
  height: 70px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-right: 20px;
}
a{
  color: #010101;
  margin: 0 30px;
}
a:hover{
  border-bottom: green solid 2px;
  border-top: green solid 2px;
  color: orangered;
}
.active{
  border-bottom: orangered solid 2px;
  border-top: orangered solid 2px;
  color: green;
}

header img{
  height:30px;
  width:30px ;
  margin-left: 10px;
}

.card-header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
  display: flex;
}

nav li {
  display: inline-block;
  margin-left: 40px;
  text-decoration: none;
}
.Notifications{
  width: 900px;
  height: 300px;
  border: 2px solid orangered ;
  border-radius: 16px;
  background-color: rgba(251, 250, 249, 0.308);
  margin-top: 120px;
  margin-left: 20%;
  padding-left:20px;
}
h1{
  margin: 20px;
  color: rgb(0, 136, 255);
  border-bottom: 1px solid rgb(0, 136, 255);
}
.Notes li, h4{
  margin: 20px;
  list-style-type:circle;
}
