<header class="card-header" >
  <div class="navbar">
    <img alt="" src="../assets/image/logo_uvs.png">
    <ul>
      <li><a routerLink="/candidat/compte" routerLinkActive="active-title">Mon compte</a></li>
      <li><a routerLink="/candidat/candidature" routerLinkActive="active-title">Mes candidatures</a></li>
      <li><a class="active" routerLink="/candidat/notifications" routerLinkActive="active-title">Notifications</a></li>
    </ul>
      <button class="btn btn-success me-2">Déconnexion</button>
  </div>
</header>
<div class="Notifications">
  <h1>Notifications</h1>
  <div class="Notes">
    <ul>
        <li><h4>Vous avez été selectionner en tanque tuteur en IA 👏</h4></li>
        <li><h4>Votre candidature pour le poste de tuteur en Big Data a été rejeter !😔</h4></li>
    </ul>
  </div>
</div>
