<main>
<body>
    <div class="container-fluid newAnnonce mt-5 pt-5">
        <button (click)="gererAnnonce()" class="btn buttonAnnonce">Ajouter une annonce</button>

    </div>
    <div class="container mt-5 pt-5">
            <h2>Gestion des annonces</h2>

        <table>
        <thead>
            <tr>
            <th>Titre</th>
            <th>Description</th>
            <th>Date</th>
            <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let annonce of annonces">
            <td>{{ annonce.titre }}</td>
            <td>{{ annonce.description }}</td>
            <td>{{ annonce.date }}</td>
            <td>
                <a [routerLink]="['/admin/liste-candidats', annonce.id]" class="btn buttonModifier">
                    Voir les candidats
                  </a>
                <button class="buttonSupprimer" (click)="supprimerAnnonce(annonce.id)">Supprimer</button>
            </td>
            </tr>
        </tbody>
        </table>
    </div>


</body>
</main>