<main>
<body>
    <div class="container mt-5 pt-5">
            <h2>Gestion des annonces</h2>
            <a routerLink="/admin/formulaire-annonce" class="btn btn-primary">Ajouter une annonce</a>


        <table>
        <thead>
            <tr>
            <th>Titre</th>
            <th>Description</th>
            <th>Date</th>
            <th>Statut</th>
            <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let annonce of annonces">
            <td>{{ annonce.titre }}</td>
            <td>{{ annonce.description }}</td>
            <td>{{ annonce.date }}</td>
            <td>{{ annonce.statut }}</td>
            <td>
                <button (click)="modifierAnnonce(annonce.id)">Modifier</button>
                <button class="buttonSupprimer" (click)="supprimerAnnonce(annonce.id)">Supprimer</button>
            </td>
            </tr>
        </tbody>
        </table>
    </div>


</body>
</main>