<section class="compte-container">
  <div class="compte-card">
    <h2>Modifier mon profil</h2>

    <form (ngSubmit)="onSubmit()" class="form-container">
      <div class="compte-content">
        <div class="photo">
          <img alt="Photo de profil" src="../assets/image/profil.png">
        </div>

        <div class="input-fields">
          <div class="input-group">
            <label for="nom">Nom</label>
            <input type="text" id="lastName" [(ngModel)]="user.userLastName" name="userLastName" required>
          </div>
          <div class="input-group">
            <label for="prenom">Prénom</label>
            <input type="text" id="firstName" [(ngModel)]="user.userFirstName" name="userFirstName" required>
          </div>
          <div class="input-group">
            <label for="email">Email</label>
            <input type="email" id="email" [(ngModel)]="user.userEmail" name="userEmail" required>
          </div>
        </div>
      </div>

      <div class="actions">
        <button type="submit" class="btn btn-primary">Enregistrer</button>

        <button type="button" class="btn btn-danger" (click)="onCancel()">Annuler</button>
      </div>
    </form>
  </div>
</section>
