<section class="compte-container">
  <div class="compte-card">
    <h2>Informations personnelles</h2>
    
    <div class="compte-content">
      <div class="photo">
        <img src="../assets/image/profil.png" alt="Photo de profil">
      </div>
      
      <div class="info">
        <p><strong>Prénom :</strong> {{ user.userFirstName }}</p>
        <p><strong>Nom :</strong> {{ user.userLastName }}</p>
        <p><strong>Email :</strong> {{ user.userEmail }}</p>
      </div>
    </div>

    <div class="actions">
      <a routerLink="/candidat/modifier-profil" class="btn">Modifier mes informations</a>
      <a routerLink="/candidat/modifier-mdp" class="btn">Modifier mon mot de passe</a>
    </div>
  </div>

</section>
