<header class="card-header" >
  <div class="navbar">
    <img alt="" src="../assets/image/logo_uvs.png">
    <ul>
      <li><a class="active" routerLink="/candidat/compte" routerLinkActive="active-title">Mon compte</a></li>
      <li><a routerLink="/candidat/candidature" routerLinkActive="active-title">Mes candidatures</a></li>
      <li><a routerLink="/candidat/notifications" routerLinkActive="active-title">Notifications</a></li>
    </ul>
      <button class="btn btn-success me-2">Déconnexion</button>
  </div>
</header>
<form ><h1>Informations personnelles</h1>
  <div class="compte">
      <div class="input">
        <h4>Prénom: Ousmane</h4>
        <h4>Nom: Cissé</h4>
        <h4>Email: cisséousmane...gmail.com</h4>
      </div>
      <div class="photo">
        <img alt="" src="../assets/image/profil.png">
      </div>
    </div>
    <a routerLink="/candidat/modifier-profil" class="btn">Modifier les informations personnelles</a><br>
    <a href="#" class="btn">Modifier le mot de passe</a>
</form>
