<header class="card-header" >
  <app-header-user> </app-header-user>
</header>
<form ><h1>Informations personnelles</h1>
  <div class="compte">
      <div class="input">
        <h4>Prénom: Ousmane</h4>
        <h4>Nom: Cissé</h4>
        <h4>Email: cisséousmane...gmail.com</h4>
      </div>
      <div class="photo">
        <img alt="" src="../assets/image/profil.png">
      </div>
    </div>
    <a routerLink="/candidat/modifier-profil" class="btn">Modifier les informations personnelles</a><br>
    <a routerLink="/candidat/modifier-mdp"  class="btn">Modifier le mot de passe</a>
</form>
