<h1>Mes candidatures</h1>
<h5>Historique des candidatures</h5>
<section class="annonces" *ngFor="let candidature of candidatures">
  <div class="container">
    <div class="img">
      <img [src]="candidature.image || '../assets/image/default.png'" alt="">
    </div>
    <div class="text">
      <h3>{{ candidature.titre }}</h3>
      <p>{{ candidature.description }}</p>
      <br><br>
      <div class="bouton1">
        <button [disabled]="candidature.statut !== 'En cours de traitement'">
          {{ candidature.statut === 'En cours de traitement' ? 'Modifier' : 'Soumise' }}
        </button>
      </div>
    </div>
  </div>
</section>

<div class="Postuler">
  <button routerLink="/candidat/form-canditure" routerLinkActive="active-title">Postuler à une annonce</button>
</div>


