<header class="card-header" >
  <div class="navbar">
    <img alt="" src="../assets/image/logo_uvs.png">
    <ul>
      <li><a routerLink="/candidat/compte" routerLinkActive="active-title">Mon compte</a></li>
      <li><a routerLink="/candidat/candidature" routerLinkActive="active-title">Mes candidatures</a></li>
      <li><a routerLink="/candidat/notifications" routerLinkActive="active-title">Notifications</a></li>
    </ul>
      <button class="btn btn-success me-2">Déconnexion</button>
  </div>
</header>
<h1>Mes candidatures</h1>
<h5>Historique des candidatures</h5>
<section class="annonces">
  <div class="container">
      <div class="img">
        <img src="../assets/image/IA.jpg" alt="">
      </div>
      <div class="text">
        <h3>APPEL A CANDIDATURE 2023 - 2024</h3>
        <p>Body text for whatever you’d like to say. Add main takeaway points, quotes, anecdotes, or even a very very short story. </p>
        <br><br>
        <div class="bouton">
          <button>Soumise</button>
          <div class="img1">
            <img src="../assets/image/cadenas.png" alt="">
          </div>
        </div>
      </div>
  </div>
</section>

<section class="annonces">
  <div class="container">
      <div class="img">
        <img src="../assets/image/informatique.jpg" alt="">
      </div>
      <div class="text">
        <h3>APPEL A CANDIDATURE 2024 - 2025</h3>
        <p>Body text for whatever you’d like to say. Add main takeaway points, quotes, anecdotes, or even a very very short story. </p>
        <br><br>
        <div class="bouton1">
          <button>Modifier</button>
          <div class="img1">
            <img src="../assets/image/cadenas1.png" alt="">
          </div>
        </div>
      </div>
  </div>
</section>
<div class="Postuler">
  <button routerLink="/candidat/form-canditure" routerLinkActive="active-title">Postuler à une annonce</button>
</div>


