<header class="card-header" >
  <div class="navbar">
    <img alt="" src="../assets/image/logo_uvs.png">
    <ul>
      <li><a routerLink="/candidat/compte" routerLinkActive="active-title">Mon compte</a></li>
      <li><a class="active" routerLink="/candidat/candidature" routerLinkActive="active-title">Mes candidatures</a></li>
      <li><a routerLink="/candidat/notifications" routerLinkActive="active-title">Notifications</a></li>
    </ul>
      <button class="btn btn-success me-2">Déconnexion</button>
  </div>
</header>
<h1>Mes candidatures</h1>
<h5>Historique des candidatures</h5>
<section class="annonces" *ngFor="let candidature of candidatures">
  <div class="container">
    <div class="img">
      <img [src]="candidature.image || '../assets/image/default.png'" alt="">
    </div>
    <div class="text">
      <h3>{{ candidature.titre }}</h3>
      <p>{{ candidature.description }}</p>
      <br><br>
      <div class="bouton1">
        <button [disabled]="candidature.statut !== 'En cours de traitement'">
          {{ candidature.statut === 'En cours de traitement' ? 'Modifier' : 'Soumise' }}
        </button>
      </div>
    </div>
  </div>
</section>

<div class="Postuler">
  <button routerLink="/candidat/form-canditure" routerLinkActive="active-title">Postuler à une annonce</button>
</div>


