<header class="card-header" >
  <div class="navbar">
    <a routerLink="/candidat/userDashbord" routerLinkActive="active-title"> <img alt="" src="../assets/image/logo_uvs.png"></a>
    <ul>
      <li><a routerLink="/candidat/compte" routerLinkActive="active-title">Mon compte</a></li>
      <li><a routerLink="/candidat/candidature" routerLinkActive="active-title">Mes candidatures</a></li>
      <li><a routerLink="/candidat/notifications" routerLinkActive="active-title">Notifications</a></li>
    </ul>
      <a  class="btn" routerLink="/public/home">Déconnexion</a>
  </div>
</header>
