<header>
  <div class="container-fluid bg-light fixed-top">
      <nav class="nav navbar-light">
          <div class="logo-container">
              <a class="navbar-brand" routerLink="/candidat/userDashbord">
                  <img src="../assets/image/logo_uvs.png" alt="Logo UVS">
              </a>
          </div>
          <div class="nav-links">
              <a class="nav-link" routerLink="/candidat/compte" routerLinkActive="active-title">Mon compte</a>
              <a class="nav-link" routerLink="/candidat/candidature" routerLinkActive="active-title">Ma candidatures</a>
              <a class="nav-link" routerLink="/candidat/notifications" routerLinkActive="active-title">Mes notifications</a>
          </div>
          <div class="logout-container">
              <button class="btn btn-outline-success deconnexion" type="button">Déconnexion</button>
          </div>
      </nav> 
  </div>
</header>
