<div class="form-container">
    <h2>Créer une nouvelle annonce</h2>
  
    <form (ngSubmit)="soumettreAnnonce()">
      <div class="form-group">
        <label for="titre">Titre</label>
        <input type="text" id="titre" [(ngModel)]="annonce.titre" name="titre" required>
      </div>
  
      <div class="form-group">
        <label for="annee">Année académique</label>
        <select id="annee" [(ngModel)]="annonce.annee" name="annee" required>
          <option value="">Choisir</option>
          <option *ngFor="let annee of anneesAcademiques" [value]="annee">{{ annee }}</option>
        </select>
      </div>
  
      <div class="form-group">
        <label for="description">Description</label>
        <textarea id="description" [(ngModel)]="annonce.description" name="description" required></textarea>
      </div>
  
      <button type="submit" class="btn-publier">Publier</button>
    </form>
  </div>
  
  <footer>
    <p>Ministère de l’Enseignement Supérieur, de la Recherche et de l’Innovation (MESRI)</p>
    <p>Université Numérique Cheikh Hamidou KANE (<a href="#">UN-CHK</a>)</p>
    <p>© MIL-P7-GS - 2025 - Tous droits réservés</p>
  </footer>
  