
<!-- ✅ Section Hero avec une image dans le HTML -->
<section class="hero">
  <div class= "container-fluid">
    <img src="assets/image/appele.png" alt="Image d'accueil" class="hero-image">
    <h1>POUR LE RECRUTEMENT DE TUTEUR</h1>
    <p>UN-CHK 2024-2025</p>
  </div>
</section>


<section class="annonces">
  <div class="container">
    <div *ngFor="let annonce of annonces" class="annonce">
      <div class="img">
        <img 
          *ngIf="annonce.titre.toLowerCase().includes('informatique')" 
          alt="" 
          [src]="'assets/image/informatique.jpg'">
        <img 
          *ngIf="annonce.titre.toLowerCase().includes('mathematique')" 
          alt="" 
          [src]="'assets/image/math.jpg'">
          <img 
          *ngIf="annonce.titre.toLowerCase().includes('ia')" 
          alt="" 
          [src]="'assets/image/IA.jpg'">
          <img 
          *ngIf="annonce.titre.toLowerCase().includes('compta')" 
          alt="" 
          [src]="'assets/image/compta.jpg'">
          <img 
          *ngIf="annonce.titre.toLowerCase().includes('programmation')" 
          alt="" 
          [src]="'assets/image/Prog.jpg'">
          <img 
          *ngIf="annonce.titre.toLowerCase().includes('sociologie')" 
          alt="" 
          [src]="'assets/image/socio.png'">
          <img 
          *ngIf="annonce.titre.toLowerCase().includes('reseau')" 
          alt="" 
          [src]="'assets/image/Reseau.jpg'">
          <img 
          *ngIf="annonce.titre.toLowerCase().includes('data')" 
          alt="" 
          [src]="'assets/image/big-data.jpg'">
      </div>
      <div class="text">
        <h3>{{ annonce.titre }}</h3>
        <p>{{ annonce.date }}</p>
        <p>{{ annonce.description }}</p>
        <br><br>
        <a class="postuler" [routerLink]="['/candidat/form-candidature', annonce.id]">Postuler</a>
      </div>
    </div>
  </div>
</section>



