<header class="card-header" >
  <app-header-user> </app-header-user>
</header>
<form ><h1>Modifier son Mot de passe </h1>
  <div class="compte">
      <div class="input">
        <div class="input-group">
            <label for="AncienMdp">Ancien Mot de passe</label>
            <input type="text" id="Ancien" name="AncienMdp" required>
        </div>
        <div class="input-group">
            <label for="NouveauMdp">Nouveau Mot de passe</label>
            <input type="text" id="Nouveau" name="NouveauMdp" required>
        </div>
        <div class="input-group">
            <label for="ConfirmerMdp">Confirmer le Mot de passe</label>
            <input type="text" id="Confirmer" name="ConfirmerMdp" required>
        </div>
      </div>
      <div class="photo">
        <img alt="" src="../assets/image/profil.png">
      </div>
    </div>
    <a href="#"  class="btn btn-success">Changer le Mot de passe</a><br>
    <a href="#" class="btn btn-danger">Annuler</a>
</form>

