<form (ngSubmit)="onSubmit()">
  <h1>Modifier son Mot de Passe</h1>
  
  <!-- Error message for mismatch -->
  <p *ngIf="erreurMessage" class="error">{{ erreurMessage }}</p>
  <!-- Success message after successful reset -->
  <p *ngIf="successMessage" class="success">{{ successMessage }}</p>

  <div class="compte">
    <div class="input">
      <div class="input-group">
        <label for="Nouveau">Nouveau Mot de passe</label>
        <input type="password" id="Nouveau" [(ngModel)]="newPassword" name="nouveauMdp" required>
      </div>

      <div class="input-group">
        <label for="Confirmer">Confirmer le Mot de passe</label>
        <input type="password" id="Confirmer" [(ngModel)]="confirmerMdp" name="confirmerMdp" required>
      </div>
    </div>

    <div class="photo">
      <img src="../assets/image/profil.png" alt="Photo de profil">
    </div>
  </div>

  <button type="submit" class="btn btn-success">Changer le Mot de Passe</button><br>
  <a href="/candidat/compte" class="btn btn-danger">Annuler</a>
</form>
