

<header class="card-header" >
    <div class="navbar">
      <img alt="" src="../assets/image/logo_uvs.png">
      <ul>
        <li><a href="#">Mon compte</a></li>
        <li><a href="#">Mes candidatures</a></li>
        <li><a href="#">Notifications</a></li>
      </ul>
        <button class="btn btn-success me-2">Déconnexion</button>
    </div>
</header>

<section class="hero">
  <div class="container">
      <br><br><br><br><br><br><br>
      <h1>POUR LE RECRUTEMENT DE TUTEUR</h1>
      <p>UN-CHK</p>
      <p>2023-2024</p>
  </div>
</section>

<section class="annonces">
  <div class="container">
      <div class="annonce">
        <div class="img">
          <img alt="" src="../assets/image/math.jpg">
        </div>
        <div class="text">
          <h3>Tuteur en Mathématique (Licence)</h3><br>
          <p>02/2025</p>
          <p>Vous êtes passionné par les mathématiques et souhaitez transmettre vos connaissances ?
             L’Université Numérique Cheikh Hamidou Kane (UN-CHK) recherche un tuteur en mathématiques
             pour accompagner les étudiants de licence dans leur apprentissage. Votre mission :
             animer des séances de tutorat interactives, guider les étudiants dans la résolution d'exercices complexes et
             les préparer aux évaluations. Si vous avez un excellent niveau en algèbre, analyse ou statistiques et êtes pédagogue,
            ce poste est fait pour vous ! Rejoignez une équipe motivée et contribuez à la réussite des étudiants.</p>
            <br><br>
          <a href="#" class="postuler">Postuler</a>
        </div>
      </div>
      </div>
</section>

<section class="annonces">
  <div class="container">
      <div class="annonce">
        <div class="img">
          <img alt="" src="../assets/image/compta.jpg">
        </div>
        <div class="text">
          <h3>Tuteur en Finance-Comptabilité (Licence)</h3><br>
          <p>02/2025</p>
          <p>Vous excellez dans l'analyse financière et la comptabilité ? Nous recrutons un tuteur en Finance-Comptabilité
            pour accompagner nos étudiants de licence dans l’apprentissage des concepts clés tels que l’établissement des
            états financiers, la gestion budgétaire, et les principes de l’audit et de la fiscalité.
            Vous serez chargé de simplifier les notions complexes comme les ratios financiers, la consolidation des
             bilans, ou la planification stratégique, tout en partageant des cas pratiques issus de votre expérience.
              Si vous avez une expertise en finance d’entreprise, comptabilité ou audit, et un sens aigu de la pédagogie,
               n’hésitez pas à postuler !</p>
            <br>
          <a href="#" class="postuler">Postuler</a>
        </div>
      </div>
      </div>
</section>

<section class="annonces">
  <div class="container">
      <div class="annonce">
        <div class="img">
          <img alt="" src="../assets/image/informatique.jpg">
        </div>
        <div class="text">
          <h3>Tuteur en Informatique (Licence)</h3><br>
          <p>02/2025</p>
          <p>L’Université Numérique Cheikh Hamidou Kane (UN-CHK) recrute un tuteur en informatique pour le niveau licence.
             Vous serez chargé d’accompagner les étudiants dans des modules tels que l’algorithmique, la programmation (Java, Python)
             et les bases de données. En tant que guide, vous les aiderez à maîtriser les fondamentaux nécessaires à une carrière dans
             les technologies numériques. Si vous avez une solide expérience en développement informatique, une maîtrise des outils numériques,
              et une passion pour l’enseignement, rejoignez notre équipe pour faire la différence dans la vie académique de nos étudiants.</p>
            <br>
          <a href="#" class="postuler">Postuler</a>
        </div>
      </div>
      </div>
</section>

<section class="annonces">
  <div class="container">
      <div class="annonce">
        <div class="img">
          <img alt="" src="../assets/image/socio.png">
        </div>
        <div class="text">
          <h3>Tuteur en Sociologie (Master)</h3><br>
          <p>02/2025</p>
          <p>Vous avez à cœur d’aider les étudiants à analyser les dynamiques sociales et les comportements humains ?
             Nous recrutons un tuteur en sociologie pour accompagner les apprenants de niveau master.
            Vous interviendrez sur des modules clés tels que la sociologie des organisations, les études qualitatives et
             quantitatives, ainsi que l’analyse des transformations sociétales contemporaines.
            Si vous êtes pédagogue, maîtrisez les méthodes de recherche en sciences sociales et aimez stimuler la réflexion
            critique chez les étudiants, postulez dès maintenant pour ce rôle stimulant</p>
            <br>
          <a href="#" class="postuler">Postuler</a>
        </div>
      </div>
      </div>
</section>

<section class="annonces">
  <div class="container">
      <div class="annonce">
        <div class="img">
          <img alt="" src="../assets/image/big-data.jpg">
        </div>
        <div class="text">
          <h3>Tuteur en Big Data Analytics (Master)</h3><br>
          <p>02/2025</p>
          <p>Vous avez une expertise en analyse des données massives et une passion pour les technologies émergentes ?
             L’Université Virtuelle du Sénégal recrute un tuteur en Big Data Analytics pour le niveau master.
              Vous aiderez les étudiants à comprendre et maîtriser des outils tels que Hadoop, Spark ou Python pour l’analyse de données,
               tout en leur apprenant à exploiter ces compétences dans des contextes réels, comme le marketing, la finance ou la santé.
            Si vous êtes rigoureux, avez une solide maîtrise des concepts de Data Mining, Machine Learning, et visualisation de données,
             et souhaitez transmettre votre savoir-faire, ce poste est pour vous !</p>
            <br>
          <a href="#" class="postuler">Postuler</a>
        </div>
      </div>
      </div>
</section>
<footer class="card-footer">
  <p>Ministère de l'Enseignement Supérieur, de la Recherche et de l'Innovation (MESRI)</p>
  <p>Université Numérique Cheikh Hamidou KANE (UN-CHK)</p>
  <p>© MIL-P7-G5 - 2020 - Tous droits réservés</p>
</footer>
